.grid.list {
    .image {
      width: 96px !important;
      height: 96px !important;
    }

    .top.segment > * {
      display: inline-block;
    }

    table thead th:first-child, table tbody td:first-child {
      text-align: center;
    }

    table.ui.table {
        margin-bottom: 2rem;
    }

    .item .description > div {
      margin-left: 2rem;
      display: inline-block;
    }

    .filters.segment > div {
      margin-left: 1rem;
      display: inline-block;
    }

    .bottom.fixed.menu {
      justify-content: center;
    }

}
